body{
    background-color: lightblue;
}
 
#container {
    align-items: center;
    padding: 25px;
    text-align: center;
    font-size: 25px;
}

input {
    padding-left: 5px;
    font-size: 20px;
    height: 25px;
}

button {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 25px;
    border: 2px solid;
    cursor: pointer;
}
